---
title: "Welcome"
posted: 2014-03-23
---

Welcome to index

<ul>
  <li>The <a href="another.html">other</a> page</li>
  <li>The <a href="blog/index.html">blog listing</a></li>
  <li>The <a href="blog/first-post.html">first blog post</a></li>
  <li>The <a href="blog/second-post.html">second blog post</a></li>
</ul>
